#container {
  clear: both;
  display: block;
  margin: 30px auto;
  width: 1000px; }
  #container #wrapper {
    float: left;
    width: 100%; }
    #container #wrapper #scenes-wrapper {
      width: 1200px; }
    #container #wrapper #scenes-container {
      float: left;
      width: 600px;
      height: 600px;
      overflow: hidden; }
      #container #wrapper #scenes-container .scene {
        float: left;
        height: 600px;
        width: 600px; }
        #container #wrapper #scenes-container .scene .point {
          float: left;
          width: 50%;
          height: 300px; }
    #container #wrapper #tour-sidebar {
      clear: right;
      float: left;
      width: 400px; }
    #container #wrapper #scrolling-tour-controller {
      display: block;
      float: left;
      clear: both;
      margin: 15px 0px; }
      #container #wrapper #scrolling-tour-controller li.previous, #container #wrapper #scrolling-tour-controller li.next {
        float: left;
        display: block;
        width: 150px;
        cursor: pointer;
        border: 1px solid #444;
        margin-right: 10px; }
    #container #wrapper #tour-icons {
      display: block;
      margin-top: 25px; }
      #container #wrapper #tour-icons .icon {
        cursor: pointer;
        width: 30%;
        height: 50px;
        float: left;
        border: 1px solid #444;
        margin: 5px;
        padding: 15px; }
        #container #wrapper #tour-icons .icon.active {
          background-color: red; }
